<% include ../partials/boilerplate.ejs %>
<nav>
  <a class="navBar" href="../">Home</a>
  <a class="navBar" href="../cohorts">Cohorts</a>
  <a class="navBar" href="../instructors">Instructors</a>
  <a class="navBar" href="../students">Students</a>
</nav>
  <h1>Edit Student</h1>
  <form method="POST" action="/students/<%= data.id %>?_method=PUT">
    <input name="id" type="hidden" value="<%= data.id %>" />
    <input name="name" type="text" value="<%= data.name %>" />
    <select name="cohort_id">
      <% cohorts.forEach(cohort => { %>
          <option value="<%= cohort.cohort_id %>"><%= cohort.cohort_name %></option>
      <% }) %>
    </select>
    <input type="submit" value="Submit" />
  </form>
<% include ../partials/end.ejs %>
